@import "tailwindcss";

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
}

@keyframes fadeUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-fade-up {
  animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fade-in-zoom-out {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeFromBlack {
  from {
    background-color: black;
    opacity: 1;
  }
  to {
    background-color: transparent;
    opacity: 0;
  }
}

.animate-fade-from-black {
  animation: fadeFromBlack 1.5s ease-out forwards;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
    opacity: 0;
  }
  to {
    background-color: black;
    opacity: 1;
  }
}

.animate-fade-to-black {
  animation: fadeToBlack 1.5s ease-out forwards;
}
